h1{
    color:dodgerblue;
    
    text-align: center;
}
label{
    padding-left: 490px;
    color: grey;
}
p{
    padding-left: 490px;
}
#btn{
 width: 13%;
 margin-left: 45.5%;
 margin-right: 45.5%;
}